.wrapper {
    height: 100%;
    padding: 15px 0;
} 

.container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.form {
    max-width: 325px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 28px 0;
}

.list-section {
    max-width: 325px;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list li {
    display: flex;
    gap: 12px;
}

.list li > *:first-child {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: auto;
}

.list li form input {
    width: 100%;
}

.task-title {
    margin-right: auto;
}

.task-title-checked {
   color: #888;
}

.button-checked {
    color: #f6f6f6
}